version: "3.9"
services:
  web:
    build: .
    ports:
      - "5001:5001"
    environment:
      SQLALCHEMY_DATABASE_URI: mysql+pymysql://root:root@db:3306/flaskdb
      SECRET_KEY: ma_cle_secrete_super_securisee
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: flaskdb
    ports:
      - "3306:3306"
