name: CI/CD Flask Project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Récupérer le code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Installer Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13.3"

      # 3. Installer les dépendances
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest flake8   # ✅ ajout de pytest et flake8

      # 4. Lancer les tests unitaires
      - name: Run tests
        run: |
          pytest

      # 5. Vérifier la qualité du code (linting)
      - name: Lint with flake8
        run: |
          flake8 .
